body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* Default to Inter Light */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-family: 'Newsreader', serif;
    font-weight: 500;
    /* Newsreader Medium */
    font-size: 24px;
    color: #426B1F;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    /* Inter Regular */
}

nav ul li a.active {
    background-color: #426B1F;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    /* Inter Semi Bold */
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    margin-top: 50px;
    /* Adjusted margin to raise the hero section */
    margin-bottom: 0;
    /* Ensure no bottom margin */
    border: none;
    /* Remove any unintended borders */
    box-shadow: none;
    /* Remove any unintended box shadows */
}

.hero-text {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .headline-small {
    font-family: 'Newsreader', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin: 0;
}

.hero .headline-large {
    font-family: 'Newsreader', serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin: 0;
}

.hero .button {
    background-color: #426B1F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.hero .button:hover {
    background-color: #365316;
}


.images {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
}

.image-container {
    text-align: center;
    max-width: 45%;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: left;
}

.image-container .title {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #333;
    white-space: nowrap;
    display: inline;
}

.image-container .description {
    display: inline;
    white-space: normal;
}

footer {
    background-color: #E1E7DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer .footer-logo {
    font-family: 'Newsreader', serif;
    color: #426B1F;
}

footer a {
    text-decoration: none;
    color: #426B1F;
    font-weight: 400;
    /* Inter Regular */
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.contact-image {
    position: absolute;
    width: 744px;
    height: 961px;
    left: 99px;
    top: 436px;
}

.contact-info {
    position: absolute;
    left: 900px;
    /* adjust val as needed */
    top: 500px;
    /* adjust val as needed */
    text-align: left;
    max-width: 45%;
}

.contact-info h2 {
    font-family: 'Newsreader', serif;
    color: #426B1F;
    margin-bottom: 20px;
}

.button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
}

.github {
    background-color: #6CC644;
}