body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

header .logo {
    font-family: 'Newsreader', serif;
    font-weight: 500;
    font-size: 32px;
    color: #426B1F;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 16px;
}

nav ul li a.active {
    background-color: #426B1F;
    color: #fff;
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}

.hero-text {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .headline-small {
    font-family: 'Newsreader', serif;
    font-weight: 350;
    font-size: 55px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin: 0;
}

.hero .headline-large {
    font-family: 'Newsreader', serif;
    font-weight: 350;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin: 0;
}

.hero .button {
    background-color: #426B1F;
    color: #fff;
    padding: 18px 32px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    margin-top: 80px;
}

.hero .button:hover {
    background-color: #365316;
}

.images {
    position: relative;
    padding: 70px;
    background-color: #fff;
    min-height: 800px;
    /* Ensure enough height to accommodate images */
}

.image-container {
    position: absolute;
}

#image1 {
    width: 504px;
    height: 693px;
    left: 96px;
    top: 50px;
}

#image2 {
    width: 780px;
    height: 480px;
    left: 660px;
    top: 50px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 25px;
    text-align: left;
}

.image-container .title {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #333;
    white-space: nowrap;
    display: inline;
}

.image-container .description {
    display: inline;
    white-space: normal;
}

footer {
    background-color: #E1E7DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    margin-top: 0px;
    bottom: 0;
    height: 140px;
    /* Ensure it is below the images */
    position: relative;
    box-sizing: border-box;
    /* Ensure it is positioned relative to the images */
}

footer .footer-logo {
    font-family: 'Newsreader', serif;
    color: #426B1F;
    font-size: 32px;
    ;
}

footer a {
    text-decoration: none;
    color: #426B1F;
    font-weight: 400;
}

/* Contact page */
.contact-hero {
    text-align: center;
    padding: 120px 20px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}

.contact-hero h1 {
    font-family: 'Newsreader', serif;
    font-weight: 350;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #000;
    margin: 0;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
    background-color: #fff;
    position: relative;
}

.contact-image img {
    width: 744px;
    height: 961px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin-left: 50px;
    text-align: left;
    max-width: 300px;
}

.contact-info h2 {
    font-family: 'Newsreader', serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #426B1F;
    margin-bottom: 20px;
}

.button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
}

.github {
    background-color: #6CC644;
}

/* about page */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-bottom: 30px;
    background-color: #fff;
    margin-bottom: 0;
}

.about-image {
    margin-left: -300px;
    /* Move the image to the left */
    margin-bottom: 0;
}

.about-image img {
    width: 530px;
    height: 520px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    margin-left: 200px;
}

.about-info {
    margin-left: 50px;
    text-align: left;
    margin-bottom: 0;
}

.about-info .button {
    display: block;
    margin-top: 60px;
    margin-left: 150px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}

.about-info .linkedin {
    background-color: #426B1F;
}

.about-info .resume {
    background-color: #426B1F;
}

.about-text {
    padding: 10px 400px;
    background-color: #fff;
    width: 800px;
    margin: 0 0;
    position: relative;
}

.about-text h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: absolute;
    left: -70px;
    top: 10px;
    /* Adjust to position slightly below the top of the text */
}

.about-text p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-text p strong {
    font-weight: 700;
}

/*project page*/
/* Projects Page */
.hero h1 {
    font-family: 'Newsreader', serif;
    font-weight: 350;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #000;
    margin: 0;
}

.gallery {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    position: relative;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
}

.gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Adjust size of current image in the gallery */
.gallery-item img {
    max-width: 70%;
    /* Adjust this value as needed */
    max-height: 70%;
    /* Adjust this value as needed */
    border-radius: 8px;
    transition: max-width 0.5s ease, max-height 0.5s ease;
}

.gallery-item .caption {
    margin-top: 30px;
    text-align: center;
}

.gallery-item .caption h3 {
    font-family: 'Newsreader', serif;
    font-size: 24px;
    color: #333;
    margin: 0;
}

.gallery-item .caption p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
}

.gallery-item.current {
    opacity: 1;
    position: relative;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    background-position: center;
    border: none;
    padding: 0;
    width: 160px;
    /* Reduced size */
    height: 160px;
    /* Reduced size */
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#prevBtn:hover,
#nextBtn:hover {
    opacity: 1;
}

#prevBtn {
    left: 100px;
}

#nextBtn {
    right: 100px;
}

.github {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.github h2 {
    font-family: 'Newsreader', serif;
    font-weight: 350;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    margin: 0 0 20px 0;
}

.github-button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

.github-button:hover {
    background-color: #333;
}